body{
    background: linear-gradient(90deg,#A5A5A5,#000);
}
.container{
    margin:0;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
h1{
    font-family: sans-serif;
    text-align: center;
    color
}
.rounded{
    border-radius:50%;
    padding: 1px;
    border: 8px solid transparent;
    background:linear-gradient(90deg,#A5A5A5,#000);
}